@import 'tailwindcss';

::before,
::after {
  content: '';
  position: absolute;
}

:root {
  --alt-primary-color: #f3f4f6;
  --primary-color: white;
  --accent-color: #016630;
  --header_height: calc(var(--spacing) * 20);
}

body {
  background-color: white;
}

h2 {
  line-height: 1;
}

button {
  border: none;
}

p {
  line-height: 1.2;
}

input {
  outline: 1px ridge rgba(0 0 0 / 0.1);
  color: black;
}

a {
  text-decoration: none;
}
